@using TradingAlpha.App.Services.Interfaces
@using TradingAlpha.App.Data
@inherits LayoutComponentBase
@inject IApplicationUserManager UserManager
@inject AuthenticationStateProvider StateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row d-flex align-items-center">
            <AuthorizeView>
                <Authorized>
                    <h4 class="balance not-selectable">@_user?.Balance&euro;</h4>
                </Authorized>
                
                <NotAuthorized>
                    <h4 class="balance not-selectable">Trading Alpha Inc.</h4>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{
    private ApplicationUser? _user;
    
    protected override async Task OnInitializedAsync()
    {
        _user = await UserManager.GetUserByAuthState(await StateProvider.GetAuthenticationStateAsync());
    }
}
