@page "/About"

<div class="p-3">
    <h2>About our project</h2>  
    <div class="d-flex flex-wrap mb-3">
        <div class="card" style="width: 18rem;">
            <img src="Assets/logo_white_mode.svg" class="card-img-top p-4" alt="Logo">
            <div class="card-body">
                <h5 class="card-title">Trading Alpha</h5>
                <p class="card-text">Ein proof-of-concept Aktien und Crypto Broker. Gebaut auf Dotnet mit Hilfe von Blazor und Bootstrapper</p>
                <a href="https://github.com/Carloo999/TradingAlpha" target="_blank" class="btn btn-primary">Das Github-Repository</a>
            </div>
        </div>
    </div>
</div>

<div class="p-2">
    <h2>Our team</h2>

    <div class="d-flex flex-wrap mb-3">
        <div class="p-2 bd-highlight">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Carlo</h5>
                    <p class="card-text">Verantwortlich für das Backend, Datenbank und API calls, als auch Team-Koordination.</p>
                    <a href="https://github.com/Carloo999" class="card-link" target="_blank">Github Account</a>
                </div>
            </div>
        </div>
        <div class="p-2 bd-highlight">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Jan</h5>
                    <p class="card-text">Hat die Analysis-Page und Kalkulationen für unterschiedliche Indikatoren implementiert.</p>
                    <a href="https://github.com/JanKnd" class="card-link" target="_blank">Github Account</a>
                </div>
            </div>
        </div>
        <div class="p-2 bd-highlight">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Tobias</h5>
                    <p class="card-text">Ermöglichung von Verwaltung des Portfolios durch die Portfolio-Page.</p>
                    <a href="https://github.com/TobiasBreitbach8623" class="card-link" target="_blank">Github Account</a>
                </div>
            </div>
        </div>
        <div class="p-2 bd-highlight">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Tim</h5>
                    <p class="card-text">Designer von Assets und Komponenten durch das Design-Programm Figma.</p>
                    <a href="#" class="card-link" target="_blank">Github Account</a>
                </div>
            </div>
        </div>
        <div class="p-2 bd-highlight">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Thomas</h5>
                    <p class="card-text">Entwurf der Page-Designs und deren Grundstrukturen.</p>
                    <a href="https://github.com/lololol8" class="card-link" target="_blank">Github Account</a>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    
}