.btn{
    outline-color: black;
    color: black;
    background: white;
}

.alert{
    margin: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container {
    background: #ffffff;
    border-radius: 15px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
}

.input-group{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#Services{
    width: 75px;
    color: black;
}

.btn-outline-secondary{
    color: black;
}


#FrameStartDate{
    margin-bottom: 10px;
}

#Indicators{
    margin-top: 10px;
    padding: 10px ;
}

#indicators {
    width: auto;
}

.form-check-input:checked {
    background-color: #015958;
}

#Chart {
    height: 600px;
}


h5{
    margin-bottom: 5px;
}


.btn-group{
    margin-bottom: 10px;
    text-align: center; 
    width: 100%;
}

.background {background: #121212;}
.accent1 {background: #023535}
.accent2 {background: #015958}
.accent3 {background: #008F8C}
.accent4 {background: #0CABA0}
.accent5 {background: #0FC2C055}
.stock{background: #8c00ff; }
.crypto{background: #00feff}
