@page "/Analysis"
@using TradingAlpha.App.Services.Interfaces
@rendermode InteractiveServer

@inject IStockDataService SData
@inject ICryptoDataService CData



<PageTitle>Analysis</PageTitle>

<p>This component demonstrates showing data.</p>

