@page "/counter"
@rendermode InteractiveServer
@using TradingAlpha.App.Components.PageComponents
@using TradingAlpha.App.Enums
@using TradingAlpha.App.Services.Interfaces

@inject ITransactionManager Transaction
@inject AuthenticationStateProvider Auth
@inject IApplicationUserManager User

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<EditModal _type="BaseDataType.Stock" />

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

//Modal copied 1:1 from Bootstrap Docs, the buttons don't change display-style, so modal isn't displayed

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

@code {
    private int currentCount = 0;

    private async Task IncrementCount()
    {
        currentCount++;
        var state = await Auth.GetAuthenticationStateAsync();
        var user = await User.GetUserByAuthState(state);
        await Transaction.Buy(user, BaseDataType.Stock, 1, "AAPL");
    }

}