@page "/counter"
@rendermode InteractiveServer
@using TradingAlpha.App.Components.PageComponents
@using TradingAlpha.App.Enums
@using TradingAlpha.App.Services.Interfaces

@inject ITransactionManager Transaction
@inject AuthenticationStateProvider Auth
@inject IApplicationUserManager User

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private async Task IncrementCount()
    {
        currentCount++;
        var state = await Auth.GetAuthenticationStateAsync();
        var user = await User.GetUserByAuthState(state);
        await Transaction.Buy(user, BaseDataType.Stock, 1, "AAPL");
    }

}