@page "/UserPortfolio" /* Wenn User eigenes Portfolio öffnen will*/
@page "/UserPortfolio/{Username}" /* Wenn User fremdes oder eigenes Portfolio öffnen will*/

@inject IPortfolioManager Portfolio
@inject ITransactionManager Transaction
@inject IApplicationUserManager UserManager
@inject AuthenticationStateManager AuthState
@inject UserManager<ApplicationUser> TempUser

<html> 
<head>
    <link rel="stylesheet" href="../wwwroot/css/style.css">
<title> Portfolio </title>

<div class="container"> 
    <div class="row" id="Top Bar">
        <h3> UserPortfolio </h3>
    </div>
</div>

</head>

<body> 

    <div class="container"> 

<table class="table">
  <thead>
    <tr>
        <th> Ticker </th>
        <th> Stockprice </th>
        <th> # of Stocks owned </th>
        <th> Value of Stocks owned </th>
        <th>  </th>
    </tr>
  </thead>
  <tbody>
    @foreach (StockEntry stockentry in StockEntry) {
            <tr>
                <td>@stockentry.Symbol</td>
                <td>@stockentry.CurrentPrice</td>
                <td>@stockentry.Amount</td>
                <td>@stockentry.Amount * stockentry.CurrentPrice</td>
            </tr>
        }
  </tbody>
</table>

    </div>

</body>

</html>

@code {
    public ApplicationUser? User {get;set;}
    public ApplicationUser? Owner {get;set;}
    [Parameter]
    public string Username {get;set;} = string.Empty;
    private bool _authorized;
    private bool _editable;

    protected override async Task OnInitializedAsync() {
      await GetUsers();
      if(Owner != null) {
        (_authorized,_editable) = await UserManager.GetIsAuthorized(Owner,User);
      }
    StockEntry = await Portfolio.GetStockEntries();
    }

    private async Task<ApplicationUser?> GetCurrentUser() {
      AuthenticationState auth = await AuthEntrState.GetAuthenticationStateAsync();
      return UserManager.GetUserByAuthState(auth);
    }

    private async Task GetUsers() {
      if (string.IsNullOrEmpty(Username)){
        User = await getCurrentUser();
        if (User != null) {
          Username = User.Id.ToString();
          Owner = User;
        } 
        else {
          //Message
        }
      }
      else {
        Owner = await TempUser.FindByIdAsync(Username);
        user = await GetCurrentUser();
        if(Owner == null) {
          //Message
        }
      }
    }
}
