@page "/UserPortfolio" /* Wenn User eigenes Portfolio öffnen will*/
@page "/UserPortfolio/{Username}" /* Wenn User fremdes oder eigenes Portfolio öffnen will*/

<html> 
<head>
    <link rel="stylesheet" href="../wwwroot/css/style.css">
<title> Portfolio </title>

<div class="container"> 
    <div class="row" id="Top Bar">
        <h3> UserPortfolio </h3>
    </div>
</div>

<head>

<body> 

    <div class="container"> 

<table class="table">
  <thead>
    <tr>
        <th> Ticker </th>
        <th> Stockprice </th>
        <th> # of Stocks owned </th>
        <th> Value of Stocks owned </th>
        <th>  </th>
    </tr>
  </thead>
  <tbody>
    <tr> </tr>
  </tbody>
</table>

    </div>

</body>

</html>

@code {
    
}
