@page "/UserPortfolio" /* Wenn User eigenes Portfolio öffnen will*/
@page "/UserPortfolio/{Username}" /* Wenn User fremdes oder eigenes Portfolio öffnen will*/

<html> 
<head>
    <link rel="stylesheet" href="../wwwroot/css/style.css">
<title> Portfolio </title>

<div class="container"> 
    <div class="row" id="Top Bar">
        <h3> UserPortfolio </h3>
    </div>
</div>

<head>

<body> 

    <div class="container"> 
        <!-- Portfolio Content -->
    </div>

</body>

</html>

@code {
    
}