#BuySellModalFooter {
    display: flex;
    justify-content: center;
    align-content: center;
}

.container {
    border: 3px solid rgba(15, 194, 192, 0.3);
    border-radius: 15px;
    padding: 10px;;
}

.background {background: #121212}
.accent1 {background: #023535}
.accent2 {background: #015958}
.accent3 {background: #008F8C}
.accent4 {background: #0CABA0}
.accent5 {background: #0FC2C0}